<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access_Records_Data</title>
</head>
<body>
    <center>
        <h1><b>content of Access_Records</b></h1>
    <table border="2px">
        <tr>
            <th>Name</th>
            <th>Date</th>
        </tr>
        {% for i in access_record %}
        <tr>

            <td>{{ i.name }}</td>
            <td>{{ i.date }}</td>
        
        </tr>
        {% endfor %}
    </table>
</center>
</body>
</html>